.ble-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;;
}

.ble-vbox {
  display: flex;
  flex-direction: column;
}
.ble-hbox {
  display: flex;
}