.ble-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.ble-vbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ble-hbox {
  display: flex;
}
.ble-middle {
  justify-content: center;
  margin-top: 20px;
}

.space-md {
  margin: 5px;
}
